
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'GS Light';
    src: url( '../fonts/GeneralSans-Light.otf');
}

@font-face {
    font-family: 'GS Regular';
    src: url( '../fonts/GeneralSans-Regular.otf');
}

@font-face {
    font-family: 'GS Bold';
    src: url( '../fonts/GeneralSans-Bold.otf');    
}

@font-face {
    font-family: 'GS Medium';
    src: url( '../fonts/GeneralSans-Medium.otf');      
}

@font-face {
    font-family: 'GS SemiBold';
    src: url( '../fonts/GeneralSans-Semibold.otf');      
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111111;
    color: white;
    font-family: 'GS Regular', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Navbar Styles */

.title-logo{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: 900;
}

#img-logo{
    border-radius: 6px;
}

#img-logo-small{
    border-radius: 100%;
}

.img-wrapper{
    position: absolute;
    z-index: -1;
    width: 100%;


}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}


.logo-container{
    display: flex;
    gap: 10px;
    align-items: center;  
}

.nav-wrapper ul{
    display: flex;
    font-size: 16px;
    font-family: "GS Regular", sans-serif;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

.nav-wrapper ul li{
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


/* Hero Section Styles */

.img-container img{
    width: 130px;
    border-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-container{
    display: flex;
    gap: 10px;
    font-size: 28px;
    padding-top: 8px;
}

.description h1{
    font-size: 37px;
    font-family: "GS Bold", sans-serif;
}

.description p{
    font-size: 22px;
    font-family: 'GS Medium', sans-serif;
    color: #A8A8B5;
}



.resume p{
    font-size: 20px;
    font-family: 'GS Regular', sans-serif;
    margin-top: 25px;
    line-height: 1.5;
}

.wrapper-description{
    display: flex;
    gap: 20px;
    align-items: center;
}

.tag{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #00FF94;
    color: black;
    padding: 8px 15px;
    border-radius: 100px;
    font-size: 11px;
    font-family: 'GS Regular', sans-serif;

}

.tag i{
    font-size: 15px;
}

model-viewer{
    width: auto;
    height: 250px;
    margin-bottom: 30px;
}

/* Work Section Styles */

.title-section{
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: 'GS SemiBold', sans-serif;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.title-section i{
    font-size: 26px;
}

.img-project img{
    width: 208px;
    height: 208px;
    border-radius: 16px;
}

.img-project:hover{
    filter: brightness(0.8);
    transition: all 0.3s ease-out;
}

.tag-wrapper{
    display: flex;
    gap: 8px;
    
}

.tags-container .tag {
    background-color: #ffffff;
    color: black;
    padding: 3px 12px;
    border-radius: 100px;
    font-size: 11px;
    font-family: 'GS Light', sans-serif;
}


.project-description h3{
    font-size: 22px;
    font-family: 'GS SemiBold', sans-serif;
    
    
}
.project-description p{
    font-size: 16px;
    font-family: 'GS Regular', sans-serif;
    color: #A8A8B5;
    
}

.wrapper-buttons{
    display: flex;
    gap: 20px;
    
}

.wrapper-buttons button i{
    font-size: 18px;
}

.wrapper-buttons button:first-child i{
    font-size: 24px;
}

.wrapper-buttons button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    background-color: transparent;
    color: white;
    border-radius: 100px;
    border: 2px solid #DC003D;
    font-family: 'GS Medium', sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
    
}

.wrapper-buttons button:hover{
    background-color: #DC003D;
    color: rgb(0, 0, 0);
    border: 2px solid #DC003D;
    transition: all 0.3s ease-out;
  
    
}

.project-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.project{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

/* Bio Section Styles */

.timeline-title {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: 'GS SemiBold', sans-serif;
    font-size: 20px;
    
}

.timeline{
    margin-top: 0px;
}

.timeline-item{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

.fechas{
    font-size: 18px;
    font-family: 'GS Bold', sans-serif;
    color: #DC003D;
}
.timeline-item p{
    font-size: 18px;  
}

/* Links Section Styles */

.link{
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    gap: 20px;
    
}

.link img{
    width: 62px;
    height: 62px;
    border-radius: 100%;
}



.youtube i{
    position: absolute;
    left: 40px;
    top: 33px;
    align-items: center;
    font-size: 18px;
    color: #FF0E0E;
    background-color: #ffffff;
    border-radius: 30%;
    padding: 4px 4px 2px 4px;   
}

.hashnode i{
    position: absolute;
    left: 40px;
    top: 33px;
    align-items: center;
    font-size: 18px;
    color: #2760FD;
    background-color: #ffffff;
    border-radius: 30%;
    padding: 4px 4px 2px 4px;   
}



.link-wrapper{
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: 'GS SemiBold', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    background-color: #0F0F0F;
    border: #565555 2px solid;
    width: 100% ;
    
}

.text-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.text-link h3{
    font-size: 18px;
    font-family: 'GS Medium', sans-serif;
}

.text-link p{
    font-size: 16px;
    font-family: 'GS Regular', sans-serif;
    color: #A8A8B5;
}

.desc-link{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.link-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

/* About Section Styles */
.about-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 10%;

}

.about-wrapper p{
    font-size: 18px;
    font-family: 'GS Regular', sans-serif;
    color: #A8A8B5;
    line-height: 1.5;

    width: 100%;
}
.about-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

/* Footer Section Styles */

.footer-claim h2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: 'GS Light', sans-serif;
    margin-bottom: 60px;
    margin-top: 40px;

    
}

.footer-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    gap: 20px;
    align-items: center;
}



/* Media Queries */
@media (max-width: 500px) {
    .img-container img{
        display:none;
        border-radius: 10px;
    }

    .wrapper-description{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 10px;

    }

    .description-container{
        gap: 0px;
    }

    .resume p{
        font-size: 16px;
        line-height: 1.5;
    
    }
}


/* Hero Section Styles */

@media (max-width: 900px) {
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

   
    .description{
        display: flex;
        flex-direction: column;
    }
    
    .img-container img{
        width: 150px;
        border-radius: 10px;
    }

    .wrapper-description{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 10px;

    }

    .wrapper-description h1{
        font-size: 28px;
        font-family: "GS SemiBold", sans-serif;

    }

    

    .description p{
        font-size: 16px;
        font-family: 'GS Medium', sans-serif;
        color: #A8A8B5;
    }

    

    .icon-container{
        display: flex;
        gap: 18px;
        font-size: 28px;
        padding-top: 8px;
    }

    .tag{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #00FF94;
        color: black;
        padding: 5px 15px;
        border-radius: 100px;
        font-size: 10px;
        font-family: 'GS Regular', sans-serif;
    
    }

    .resume p{
        font-size: 18px;
        line-height: 1.5;
    
    }

    /* work section styles */

    .project-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    
    .img-project{
        width: 100%;
        height: 250px;
        border-radius: 16px;
    }

    .img-project img{
        width: 100%;
        object-fit: cover;
        height: 250px;
        border-radius: 16px;
    }
}